<div id="<%= dom_id entry %>">
  <div>
    <strong>Title:</strong>
    <%= entry.title %>
  </div>

  <div>
    <strong>Media type:</strong>
    <%= entry.media_type %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= entry.rating %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= entry.body %>
  </div>

</div>
